/* Mixins */

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin menubar-start-end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 -5px;

  & > div {
    flex: 1 1 auto;
    margin: 0 5px;
  }
}