/* Variables */

// Colors https://www.primefaces.org/primevue/colors

$app-text-color: white;
$app-background: gray;


// Fonts  https://www.fontspace.com/category/ttf
// https://www.1001freefonts.com/new-fonts-4.php

$app-text-logo: "Bombing";
$app-text-title: "Sport Game";
$app-text: "Spider Nest";