/* Variables */

// Colors https://www.primefaces.org/primevue/colors

$app-text-color: var(white);
$main-background: var(--white);
$header-footer-background: var(--surface-200);

// Fonts  https://www.fontspace.com/category/ttf
// https://www.1001freefonts.com/new-fonts-4.php

$app-text-logo: "Bombing";
$app-text-title: "Sport Game";
$app-text: "Spider Nest";